body {
    margin: 0;
}
.logo{
    margin-top: -300px;
    margin-left: -250px;
    left: 50%;
    top: 50%;
    position: absolute;
}
.splash{
    background-color: #0000ff;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 9999;
    transition: all 1.5s;
}
